@use 'node_modules/@matteusan/sentro';

@mixin render() {
  @include sentro.selector-create('.button') {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;

    user-select: none;
    overflow: visible;
    vertical-align: middle;

    cursor: pointer;
    outline: sentro.key-create('button-outline', none);

    -webkit-appearance: caret;
    @include sentro.prefix(transition, all var(--lnj-transition-time) ease);
  }
}