@use '@matteusan/sentro' with (
  $prefix: 'bci',
  $context: 'theme'
);

@use 'components/base';
@use 'components/utils';
@use 'components/header';
@use 'components/hero';

.bci-button {
  padding: 0.5rem 1rem;
  border: 2px solid sentro.key-create('button-border', 'accent-400');
  background: sentro.key-create('button-fill', rgba(0 0 0 / 0));
  color: sentro.key-create('button-ink', 'accent-400');
  font-size: clamp(12px, 4vw, 16px);
  font-weight: 700;
  text-transform: uppercase;
  transition: all var(--bci-transition-time) ease;
  cursor: pointer;
  border-radius: 0.3rem;

  .bci-button__label {
    width: 100%;
    display: inline-block;
    text-align: center;
    user-select: none;
    pointer-events: none;
  }

  &:hover,
  &:focus {
    @include sentro.key-bind('button-fill', 'accent-400');
    @include sentro.key-bind('button-ink', 'accent-ink');
  }

  &:active {
    @include sentro.key-bind('button-fill', 'accent-200');
    @include sentro.key-bind('button-ink', 'accent-ink');
    @include sentro.key-bind('button-border', 'accent-200');
  }

  &.is-filled {
    @include sentro.key-bind('button-fill', 'accent-400');
    @include sentro.key-bind('button-ink', 'accent-ink');

    &:active {
      @include sentro.key-bind('button-fill', 'accent-200');
      @include sentro.key-bind('button-ink', 'accent-ink');
      @include sentro.key-bind('button-border', 'accent-200');
    }
  }

  &.is-fullwidth {
    width: 100%;
    display: inline-block;
  }
}

.bci-footer {
  width: 100%;
  padding: 1rem 1.5rem;
  background: sentro.token-get('primary-400');
  color: sentro.token-get('primary-ink');
  text-align: center;

  ul {
    list-style: none;
    display: inline-block;
    justify-content: center;

    font-size: clamp(10px, 4vw, 12px);

    li {
      transition: all var(--bci-transition-time) ease;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.bci-carousel {
  margin: 0 auto 1.5rem;
  position: relative;
  display: grid;
  grid-template-columns: repeat(#{5}, clamp(325px, 30vw, calc((1077px / 5) * 1.6)));
  grid-gap: 1rem;
  grid-template-rows: none;
  backdrop-filter: blur(8px);
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scrollbar-width: none !important;

  > * {
    scroll-snap-align: center;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0 0 0 / 0) !important;
  }
}

.bci-card {
  position: relative;

  .bci-card__media {
    aspect-ratio: 1/1;
    width: 100%;
    max-height: 320px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .bci-card__info {
    display: sentro.key-create('card-info-display', flex);
    flex-flow: column nowrap;
    justify-content: flex-end;
    gap: 0.7rem;
    position: absolute;
    inset: 0;
    background: rgba(0 0 0 / 50%);
    color: sentro.token-get('accent-ink');
    padding: 1rem;
    opacity: sentro.key-create('card-info-opacity', 0);
    z-index: sentro.key-create('card-info-z', -1);
    transition: all var(--bci-transition-time) ease;
  }

  &:hover {
    .bci-card__info {
      @include sentro.key-bind('card-info-opacity', 1);
      @include sentro.key-bind('card-info-z', 1);
    }
  }
}

.bci-product__wrapper {
  display: grid;

  @include sentro.breakpoint-create('md') {
    grid-template-columns: 1fr 2fr;
  }
}

.bci-product__media {
  width: 100%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.bci-quote {
  //

  .bci-quote__headline {
    font-size: clamp(#{sentro.to-rem(24px)}, 20vw, #{sentro.to-rem(48px)});
    font-weight: 400;
    line-height: clamp(1.25, 1, 1.75);
    margin: 0 0 1rem;
    text-align: inherit;
  }

  .bci-quote__author {
    font-size: clamp(#{sentro.to-rem(12px)}, 20vw, #{sentro.to-rem(16px)});
    font-weight: 300;
    line-height: clamp(1.25, 1, 1.75);
    color: sentro.token-get('surface-ink');
    margin: 1rem 0 0;
    text-align: inherit;

    &::before {
      content: "— ";
      color: sentro.token-get('accent-400');
    }
  }

  &.is-from-right {
    text-align: right;
  }

  &:not(:last-child) {
    margin-block-end: 4rem;
  }
}