@use 'node_modules/@matteusan/sentro' with (
  $prefix: 'lnj',
  $context: 'theme'
);

@use 'components/lnj-button';

:root {
  color-scheme: light dark;
  @include sentro.token-config(
    $primary: (
      400: #fff
    ),
  );
  --lnj-transition-time: 0.2s;
  --lnj-shadow-color: rgba(0 0 0 / 20%);
}

*,
:before,
:after {
  margin: 0;
  padding: 0;
  color: inherit;
  line-height: 1.5;
  box-sizing: inherit;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

@include lnj-button.render();